<main>
    <div class="performance">
        <input type="hidden" name="userid" id="userid" value="<%=user._id%>">
        <div class="upper_outer">
            <div class="user_details">
                <div class="emp">Employee Details</div>
                    <br>
                <label class="per_emp_detail">Name: <%= user.first_name %> <%= user.last_name %></label>
                    <br>
                <label class="per_emp_detail">Employee ID: <%= user.employee_id %></label>
                    <br>
                <label class="per_emp_detail">Status: <%= user.status %></label>
                    <br>
                <label class="per_emp_detail">Email: <%= user.email %></label>
                    <br>
                <label class="per_emp_detail">Account Type: <%= user.account_type %></label>
                    <br>
                <label class="per_emp_detail">Department: <%= user.department.dept_name %></label>
                    <br>
                <label class="per_emp_detail">Position: <%= user.position.pos_name %></label>
            </div>
            <div class="performance_review">
                <div class="sub_performance_review">
                    <div class="emp">Performance Review</div>
                    <div><button id="sub_rev">Submit</button></div>
                </div>
                <div>
                    <textarea id="p_review" cols="80" rows="8"></textarea required></div>
                </div>
        </div>
    </div>
</main>