<main>
    <div class="performance">
        <input type="hidden" id="perf_id" value="<%=performance._id%>">
        <div class="upper_outer">
            <div class="user_details">
                <div class="emp">Employee Details</div>
                <br>
                <label class="per_emp_detail">Name: <%= user.first_name %>
                        <%= user.last_name %></label>
                <br>
                <label class="per_emp_detail">Employee ID: <%= user.employee_id %></label>
                <br>
                <label class="per_emp_detail">Status: <%= user.status %></label>
                <br>
                <label class="per_emp_detail">Email: <%= user.email %></label>
                <br>
                <label class="per_emp_detail">Account Type: <%= user.account_type %></label>
                <br>
                <label class="per_emp_detail">Department: <%= user.department.dept_name %></label>
                <br>
                <label class="per_emp_detail">Position: <%= user.position.pos_name %></label>
            </div>
            <div class="performance_review">
                <div class="sub_performance_review">
                    <div class="emp">Performance Review</div>
                    <div><button id="sub_updated_rev" disabled>Submit</button></div>
                    <%if(!performance.feedback){%>
                        <div><button id="edit_rev">Edit</button></div>
                    <%}%>
                </div>
                <div>
                    <textarea id="p_review" cols="80" rows="8" disabled><%=performance.content%></textarea></div>
                </div>
        </div>
        <%if(performance.feedback){%>

        <div class="feedback">
            <div class="sub_feedback">
                <label>Feedback</label>
            </div>
            <div class="feed_submit">
                    <textarea name="feedback" cols="80" rows="4" disabled><%=performance.content%></textarea>
            </div>
        </div>


        <%}%>
</main>