<main>
    <div table-responsive custom_table_outer_container>
        <table class="table caption-top table-striped table-bordered custom_table">
            <thead>
                <tr>
                    <th id="custom_col" scope="col">Sr. No.</th>
                    <th id="custom_col" scope="col">Name</th>
                    <th id="custom_col" scope="col">Status</th>
                    <th id="custom_col" scope="col">Submitted By</th>
                    <th id="custom_col" scope="col">Submitted On</th>
                    <th id="custom_col" scope="col">Performance</th>
                    <th id="custom_col" scope="col">Feedback</th>
                    <th id="custom_col" scope="col">Edit/ View Performance</th>
                    <th id="custom_col" scope="col">Delete Performance</th>
                </tr>
            </thead>
            <tbody>
                <%performances.forEach((p, index)=>{%>
                    <tr>
                        <th id="custom_col" scope="row">
                            <%=index+1%>
                        </th>
                        <td id="custom_col">
                            <%= p.posted_for_user.first_name %> 
                            <%= p.posted_for_user.last_name %>
                        </td>
                        <td id="custom_col">
                            <%= p.status %>
                        </td>
                        <td id="custom_col">
                            <%= p.posted_by_user.first_name %>
                            <%= p.posted_by_user.last_name %>
                        </td>
                        <td id="custom_col">
                            <%=p.createdAt.toLocaleDateString()%>
                        </td>
                        <td id="custom_col">
                            <div class="overflow"><%= p.content %></div>
                        </td>
                        <td id="custom_col" class="icon">
                            <%if(p.feedback){%>
                                <a href="/admin/feedback?perf_id=<%=p._id%>">
                                    <i class="fa-regular fa-comments feedback_img"></i>
                                </a>
                            <%}else{%>
                                NA
                                <%}%>
                        </td>
                        <td id="custom_col" class="icon">
                            <div id="rights">
                                <a href="/admin/editperformance?perf_id=<%=p._id%>"><i class="bi bi-pencil"></i></a></a>
                            </div>
                        </td>
                        <td id="custom_col" class="icon">
                            <div id="rights">
                                <%if(!p.feedback){%>
                                <a href="/admin/delperformance?perf_id=<%= p._id %>"><i class="bi bi-trash"></i></a>
                                <%}else{%>
                                    NA
                                <%}%>
                            </div>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>
</main>